<% content_for :head do %>
    <title>A simple page</title>
<% end %>


<div class="container">

  
<ul class="nav nav-tabs">
  <li><a href="#">Primary</a></li>
  <li class="active"><a href="#">Social</a></li>
  <li><a href="#">Promotions</a></li>
  <li><a href="#">Updates</a></li>
</ul>


    <div class="row">

    <div class="col-md-8">
        <h4>Content 1</h4>
    </div>

    <div class="col-md-4">
        <h4>Content 2</h4>
    </div>

    </div>
</div>